@{
    ViewData["Title"] = "ManageCourse";
    Layout = "_Layout2";
}
@model IEnumerable<UserManagement.Models.Course>
<link href="~/css/ManageCourse.css" rel="stylesheet" />
        <h2>Courses</h2>

        @if (Model != null && Model.Any())
        {
        <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Credit</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model)
                    {
                        <tr>
                            <td>@course.Name</td>
                            <td>@course.Credit</td>
                            <td>@course.Description</td>
                            <td class="actions">
                                <a href="@Url.Action("Edit", new { id = course.Id })" class="btn btn-warning btn-sm" style="width:70px">Edit</a>
                                <a href="@Url.Action("Delete", new { id = course.Id })" class="btn btn-danger btn-sm" style="width:70px">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
           
        }
        else
        {
            <p class="text-muted">No courses available.</p>
        }
        <div class="btnCreate">
      <a href="@Url.Action("Create")" class="create-btn">CreateCourse</a>
      <a href="@Url.Action("AssignCourse")" class="create-btn">AssignCourse</a>
      <a href="@Url.Action("UserCourseList")" class="create-btn">ViewAssignedCourse</a>
       </div>



