@{
    ViewData["Title"] = "ViewAccount";
    Layout = "_Layout2";
}
@model IEnumerable<UserManagement.Models.User>
<link href="~/css/ViewAccount.css" rel="stylesheet"/>
<h2 class="profile-header">Account Information</h2>
  @if (Model != null && Model.Any())
   {
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Fullname</th>
            <th>Password</th>
            <th>Role</th>
            <th>CreateAt</th>
            <th>LastLogin</th>
		    <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Fullname</td>
                <td>@user.Password</td>
                    <td>
                        @if (ViewBag.RoleDictionary.ContainsKey(user.RoleId))
                        {
                            @ViewBag.RoleDictionary[user.RoleId]
                        }
                        else
                        {
                            <span>Unknown Role</span> 
                        }
                    </td>
                <td>@user.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>@user.LastLoginAt.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="actions">
                        <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-warning btn-sm" style="width:75px">Edit</a>
                    <a href="@Url.Action("Delete", new { id = user.Id })" class="btn btn-danger btn-sm" style="width:75px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
<a href="@Url.Action("Register", "Account")" class="create-btn">Create account</a>

